.container.about {
    background: #000;
    flex-direction: row;
    gap: 5rem;
    padding-top: 5rem;
    position: relative;
}

.txt {
    display: flex;
    flex-direction: column;
}

.txt .parrafoAbout {
    width: 50vw;
    font-size: 1.5rem;
    z-index: 2;
}

.img-2 {
    width: 400px;
    position: absolute;
    top: 5rem;
    right: 0;
    will-change: transform;
}

.txt p {
    font-family: "Montserrat", serif;
    font-size: 1.2rem;
    color: #f0f0f0;
}

.callout {
    width: max-content;
    padding: 0.5em 1em;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.125);
    border-radius: 12px;
    margin-bottom: 2em;
  }

@media (max-width: 900px) {
    .container.about {
        flex-direction: column;
        padding: 5rem 0;
    }

    .LogoAbout {
        width: 300px;
        z-index: 222;
    }

    .container.about .callout {
        z-index: 222;
    }

    .img-2 {
        width: 300px;
        position: absolute;
        top: 10rem;
        right: 0;
        will-change: transform;
    }

    .txt .parrafoAbout {
        width: 85vw;
    }
}